<h1>Our Team</h1>
<hr>
<div>
  <figure>
    <img src="../../../assets/tim.JPG">
    <figcaption>Tim</figcaption>
  </figure>
  <figure>
    <img src="../../../assets/lutz.JPG">
    <figcaption>Lutz</figcaption>
  </figure>
  <figure>
    <img src="../../../assets/till.JPG">
    <figcaption>Till</figcaption>
  </figure>
  <figure>
    <img src="../../../assets/vitus.JPG">
    <figcaption>Vitus</figcaption>
  </figure>
</div>

<br>
<hr>
<br>

<h1>Contact us</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis reprehenderit provident eligendi perspiciatis corrupti
  mollitia molestiae, fugiat numquam natus assumenda ipsa iste nulla asperiores eaque itaque nobis quos dolor nam aspernatur
  deleniti explicabo ipsam aliquam? Illo et modi nulla eos quidem sit culpa itaque, pariatur magnam assumenda commodi iste
  perspiciatis deserunt laudantium vero voluptatibus nisi. Perspiciatis impedit expedita amet sed quis ipsa ipsum minus voluptate
  error eveniet rerum eius repudiandae ratione eaque esse facilis deserunt beatae, recusandae qui nostrum? Reiciendis nulla
  provident placeat, omnis fugiat similique corrupti quibusdam quod nihil vel. Nihil natus repudiandae nobis non modi quam
  quod perferendis?
</p>