<div class="modal-header">
  <h4 class="modal-title">Create Transaction</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <form id="myForm" (ngSubmit)="onSubmit(createTransaction.value)" #createTransaction="ngForm">

      <div class="form-group mt-4"></div>
      <label for="range">Title</label>
      <input type="text" class="form-control" maxlength="80" name="title" [(ngModel)]="newTransaction.title" required placeholder="Title"
        #transactionTitle="ngModel">
      <div *ngIf="(transactionTitle.dirty || transactionTitle.touched) && !transactionTitle.valid;"></div>
      <app-error-message [control]='transactionTitle' [error]="'required'" [message]="'Enter a title'"></app-error-message>


      <div class="form-group mt-4"></div>
      <label for="range">Amount</label>
      <input type="number" class="form-control" maxlength="10" name="amount" [(ngModel)]="newTransaction.amount" required placeholder=""
        #transactionAmount="ngModel">
      <div *ngIf="!transactionAmount.valid? space : null"></div>
      <app-error-message [control]='transactionAmount' [error]="'required'" [message]="'Fill in an amount'"></app-error-message>

      <div class="form-group mt-4">
        <label for="category">Category</label>
        <select name="category" [(ngModel)]="newTransaction.categoryId" class="form-control" id="category">
          <option *ngFor="let category of categorys" [value]='category.categoryId'>{{ category.name }}</option>
        </select>
      </div>

      <div class="form-group options" *ngIf="!isOptionsOpened" (click)="switchIsOptionsOpened()">
        <div id="innerOptions">
          <span>Options</span>
          <div class="settings fa fa-cog"></div>
        </div>
      </div>
      <div *ngIf="!isOptionsOpened; else timeFrameOptions"></div>
      <app-alert-closeable #CreateTransactionCloseableAlert [style]="'danger'" [message]="errorMessage"></app-alert-closeable>


    </form>
  </div>
</div>

<div class="modal-footer">
  <button *ngIf="!createClicked; else loading" form="myForm" [disabled]="!createTransaction.valid" type="submit" class="btn btn-success">Create</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>

<ng-template #timeFrameOptions>
  <div class="form-group mt-4"></div>
  <label for="range">Comment</label>
  <input type="text" class="form-control" name="comment" [(ngModel)]="newTransaction.comment" placeholder="Comment" #transactionComment="ngModel">
  <div class="mt-4">
    <app-datepicker #MyDatepicker (save)="datePicked($event)" [title]="'Settlement date'"></app-datepicker>
  </div>
</ng-template>

<ng-template #space>
  <span class="m-1"></span>
</ng-template>



<!--   A loading icon which is shown until the authentication is complete  -->
<ng-template #loading>
  <span>
    <img src="/assets/loading.svg">
  </span>
</ng-template>