<div class="wrapper">

    <div class="top">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light main-nav navbar-top myContainer">
            <button class="navbar-toggler" (click)="navbarIsCollapsed = !navbarIsCollapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [ngbCollapse]="" id="navbarSupportedContent">
                <ul class="navbar-nav ">
                    <li class="nav-item navItem">
                        <a class="nav-link" routerLink="info" routerLinkActive="active">
                            <i class="fa fa-home icons"></i>
                            <span class="spanSpace">Home</span>
                        </a>
                    </li>
                    <li class="nav-item navItem">
                        <app-modal [component]="addUserToBookComponent">
                            <a class="nav-link" routerLinkActive="active">
                                <i class="fa fa-user-plus icons"></i>
                                <span class="spanSpace">Add User</span>
                            </a>
                        </app-modal>
                    </li>
                    <li class="nav-item navItem">
                        <a class="nav-link" routerLink="statistics" routerLinkActive="active">
                            <i class="fa fa-signal icons"></i>
                            <span class="spanSpace">Statistics</span>
                        </a>
                    </li>
                    <li class="nav-item navItem">
                        <a class="nav-link" routerLinkActive="active">
                            <i class="fa fa-signal icons"></i>
                            <span class="spanSpace">Add Category</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
     <router-outlet></router-outlet>

</div>