<div class="col-md-6 offset-md-3">
  <span class="anchor" id="formRegister"></span>
  <br class="mb-5">
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0">Sign Up</h3>
    </div>
    <div class="card-body">
      <form #signOutForm="ngForm">
        <div class="form-group">
          <label for="firstname" class="control-label">Firstname</label>
          <input type="text" autofocus="autofocus" class="form-control" id="firstname" name="firstname"  [(ngModel)]="user.firstname"
            required #firstname="ngModel" placeholder="Firstname">
          <div *ngIf="firstname.invalid && (firstname.touched || firstname.dirty)">
            <app-standard-notification [info]="firstnameRequired" [cssClasses]="'badge badge-danger'"></app-standard-notification>
          </div>
        </div>
        <div class="form-group">
          <label for="lastname" class="control-label">Lastname</label>
          <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user.lastname" required #lastname="ngModel"
            placeholder="Lastname">
          <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)">
            <app-standard-notification [info]="lastnameRequired" [cssClasses]="'badge badge-danger'"></app-standard-notification>
          </div>
        </div>

        <app-datepicker (save)="onSave($event)" [title]="'Birth'"></app-datepicker>

        <div class="form-group">
          <label for="email" class="control-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" appEmail required #email="ngModel"
            placeholder="Email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email?.errors?.required">
              <app-standard-notification [info]="emailRequired" [cssClasses]="'badge badge-danger'"></app-standard-notification>
            </div>
            <div *ngIf="email?.errors?.appEmail">
              <app-standard-notification [info]="noValidEmail" [cssClasses]="'badge badge-danger'"></app-standard-notification>
            </div>
          </div>
        </div>
        <div ngModelGroup="passwords" #passwords="ngModelGroup" appEqualPasswords>
          <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" appPassword required
              #passwordA="ngModel" placeholder="Password">
            <div *ngIf="passwordA?.errors?.required && (passwordA.touched || passwordA.dirty)">
              <app-standard-notification [info]="passwordRequired" [cssClasses]="'badge badge-danger'"></app-standard-notification>
            </div>
            <div *ngIf="passwordA?.errors?.appPassword">
              <app-standard-notification [info]="passwordA?.errors?.appPassword?.value" [cssClasses]="'badge badge-danger'"></app-standard-notification>
            </div>
          </div>
          <div class="form-group">
            <label for="passwordCheck" class="control-label">Verify</label>
            <input type="password" class="form-control" id="passwordCheck" name="passwordCheck" [(ngModel)]="user.passwordCheck" appPassword
              required #passwordB="ngModel" placeholder="Password (again)">
            <div *ngIf="passwordB?.errors?.required && (passwordB.touched || passwordB.dirty)">
              <app-standard-notification [info]="passwordRequired" [cssClasses]="'badge badge-danger'"></app-standard-notification>
            </div>
          </div>
          <div *ngIf="passwordB.touched || passwordB.dirty">
            <div *ngIf="passwords?.errors?.appEqualPasswords">
              <app-standard-notification [info]="passwordCheckInvalid" [cssClasses]="'badge badge-danger'"></app-standard-notification>
            </div>
          </div>
        </div>
        <button [disabled]="!signOutForm.valid || !user.birth" type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
  <br class="mb-5">
</div>