<section>
    <div class="container">
      <div class="row well">
        <div class="col-lg-12 text-center">
          <p>
          </p>
          <h1>Data privacy</h1>
          <hr>
         <p><strong>General Privacy Policy</strong></p>
  <p>By using our website, you agree to the collection, processing and use of data as described below. Our website can be visited without registration. Data such as pages accessed or the name of the file accessed, date and time are stored on the server for statistical purposes without these data being directly related to your person. Personal data, in particular name, address or e-mail address are collected as far as possible on a voluntary basis. The data will not be passed on to third parties without your consent.</p>
       
       <p><strong>Privacy Policy for Cookies</strong></p>
  <p>Our website may use cookies. These are small text files that make it possible to store specific information relating to the user on the user's terminal device while he is using the website. Cookies make it possible to determine the frequency of use and number of users of the pages in particular, to analyse the behaviour of site use, but also to make our offer more customer-friendly. Cookies remain stored at the end of a browser session and can be retrieved the next time you visit the site. If you do not wish this to happen, you should set your Internet browser to refuse cookies.</p>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="container">
      <div class="row well">
        <div class="col-lg-12 text-center">
          <h1>Terms of use</h1>
          <hr>
        <p>This website is subject to the following terms of use, which are binding in the relationship between you (hereinafter: "user") and us (hereinafter: "service provider") by accessing this website. Insofar as special conditions for individual uses of this website deviate from the following terms of use, this is expressly pointed out at the appropriate point on the website. The special terms of use shall then apply in each individual case.</p>
       
       <p><strong>1. Copyrights</strong></p>
       <p>This website contains data and information of all kinds which are protected by trademark and/or copyright in favour of the service provider or in individual cases also in favour of third parties. It is therefore not permitted to download, reproduce and distribute the website in whole or in part, with the exception of technically conditional reproduction for the purpose of browsing, provided that this act does not serve any commercial purposes, or permanent reproduction for personal use. Furthermore, it is permitted to set a link to this website as long as it serves solely as a cross-reference. The service provider reserves the right to revoke the permission. Framing this website is not permitted.</p>
       
       <p><strong>2. Liability for contents</strong></p>
       <p>The service provider assumes liability for the content of its website in accordance with the statutory provisions. Although the information has been compiled to the best of our knowledge, we cannot guarantee that the information on this website is correct, complete and up-to-date. The information available on these Internet pages does not replace individual advice, but merely serves as general information. References and links to third-party websites do not mean that the service provider adopts the content behind the reference or link as its own. The contents do not constitute any responsibility on the part of the service provider for the data and information made available there. The service provider has no influence on the content behind the link. The service provider is therefore not liable for illegal, incorrect or incomplete content and for damage caused by the use of content behind the link.</p>
       
       <p><strong>3. Performance disturbances</strong></p>
       <p>Use of the Internet is at the user's own risk. In particular, the service provider is not liable for the technical failure of the Internet or access to the Internet.</p>
       
       <p><strong>4. Place of jurisdiction</strong></p>
       <p>If the contractual partner is a merchant, a legal entity under public law or a special fund under public law, the place of jurisdiction shall be at the registered office of the service provider. German law shall apply to the exclusion of the UN Convention on Contracts for the International Sale of Goods.</p>
       
       <p><strong>5. Other</strong></p>
       <p>The service provider reserves the right to modify these terms of use from time to time and to adapt them to technical and legal developments. The user will be informed of the change separately.</p>
        </div>
      </div>
    </div>
  </section>