.myButton {
    display: inline-block;
    margin-left: 3px;
}

.circle {
    width: 15px;
    height: 15px;
    line-height: 200px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin: 0;
    position: relative;
    top:  8px;
    left: 65px;
    opacity: 0.8;
}


.myFlex {
    display: flex;
    flex-wrap: nowrap;
    width: 100px;
}

#test {
    left: -27px;
    top: -5px;
    position: relative;
    height: 100%
}