<app-alert-closeable [style]="'success'" [message]="errorMessage"></app-alert-closeable>
<section id="home" class="home">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to James!
                <span>
                    <img src="/assets/penguin.svg" class="imgPenguin">
                </span>
            </h1>
            <p class="lead">The easiest application to organize your financials</p>
        </div>
    </div>
</section>
<section id="homeImg">
    <div>
        <img src="/assets/home_office.jpg" class="imgHomeOffice">
    </div>
</section>