<div class="container">
  <span class="anchor" id="formRegister"></span>
  <br class="mb-5">
  <div class="card card-outline-secondary">
    <div class="card-header">
      <h3 class="mb-0">Login</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #signOutForm="ngForm">
        <div class="form-group">
          <label for="email" class="control-label">E-Mail</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" appEmail required #email="ngModel">
          <div *ngIf="(email.dirty || email.touched) && !email.valid; else space"></div>
          <app-error-message [control]='email' [error]="'required'" [message]="emailRequired"></app-error-message>
          <app-error-message [control]='email' [error]="'appEmail'" [message]="noValidEmail"></app-error-message>
        </div>
        <div class="form-group">
          <label for="password" class="control-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" appPassword required
            #password="ngModel">
          <div *ngIf="(password.dirty || password.touched) && !password.valid; else space"></div>
          <app-error-message [control]='password' [error]="'required'" [message]="passwordRequired"></app-error-message>
          <app-error-message [control]='password' [error]="'appPassword'" [message]="password?.errors?.appPassword?.value"></app-error-message>
        </div>
        <button [disabled]="!signOutForm.valid" type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
<br class="mb-5">



<!--  A little space, used when no app-error-message is shown - otherwise
      the sign-in container would shrink and grow when messages appear -->
<ng-template #space>
  <span class="m-1"></span>
</ng-template>