<div class="modal-header">
  <h4 class="modal-title">Update Book</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body mt-0 pt-0">
  <div class="container">
    <form id="myForm" (ngSubmit)="onSubmit(createBook.value)" #createBook="ngForm">
      <div class="form-group">
        <label for="title" class="control-label">Title</label>
        <input id="title" type="text" class="form-control" maxlength="12" name="title" [(ngModel)]="newBook.title" required placeholder="Book name"
          #bookName="ngModel">
        <div *ngIf="(bookName.dirty || bookName.touched) && !bookName.valid; else space"></div>
        <app-error-message [control]='bookName' [error]="'required'" [message]="'Enter a name'"></app-error-message>
      </div>

      <!-- Necessary to fix an ng-modal bug which allows you to submit pressing 'enter' eventhough required inputs arent valid
      This bug only accures when a form has just 1 input-field -->
      <input type="text" hidden>

      <div class="form-group m-0">
        <label for="range">Billing cycle</label>
        <select name="rangeEnum" (click)="rangeEnumChanged()" [(ngModel)]="newBook.rangeEnum" class="form-control" id="range">
          <option value="DAILY">Daily</option>
          <option value="WEEKLY">Weekly</option>
          <option value="MONTHLY" selected="selected">Monthly</option>
          <option value="YEARLY">Yearly</option>
        </select>
      </div>
      <div *ngIf="newBook.rangeEnum === 'MONTHLY' || newBook.rangeEnum === 'YEARLY'" class="form-group options" (click)="switchIsOptionsOpened()">
        <div id="innerOptions">
          <span>Options</span>
          <div class="settings fa fa-cog"></div>
        </div>
      </div>
      <div *ngIf="!isOptionsOpened || !(newBook.rangeEnum === 'MONTHLY' || newBook.rangeEnum === 'YEARLY'); else timeFrameOptions"></div>
      <app-alert-closeable #UpdateBookCloseableAlert [style]="'danger'" [message]="errorMessage"></app-alert-closeable>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button *ngIf="!createClicked; else loading" form="myForm" [disabled]="!createBook.valid" type="submit" class="btn btn-success">Save</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>


<ng-template #space>
  <span class="m-1"></span>
</ng-template>


<ng-template #timeFrameOptions>
  <app-datepicker #MyDatepicker (save)="datePicked($event)" [title]="'Periodic reset'"></app-datepicker>
  <i class="explanation fa fa-question-circle" triggers="mouseenter:mouseleave" ngbPopover={{explanationText()}}></i>
</ng-template>


<!--   A loading icon which is shown until the authentication is complete  -->
<ng-template #loading>
  <span>
    <img src="/assets/loading.svg">
  </span>
</ng-template>