<div class="modal-header">
  <h4 class="modal-title">Add a new member</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <form id="myForm" (ngSubmit)="onSubmit()" #addUserToBookForm="ngForm">
      <div class="form-group">
        <label for="email" class="control-label">E-Mail</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" appEmail required #email="ngModel">
        <div *ngIf="(email.dirty || email.touched) && !email.valid; else space"></div>
        <app-error-message [control]='email' [error]="'required'" [message]="emailRequired"></app-error-message>
        <app-error-message [control]='email' [error]="'appEmail'" [message]="noValidEmail"></app-error-message>
      </div>
    </form>
    <app-alert-closeable #AddUserToBookCloseableAlert [style]="'danger'" [message]="errorMessage"></app-alert-closeable>
  </div>
</div>
<div class="modal-footer">
  <button *ngIf="!addClicked; else loading" form="myForm" [disabled]="!addUserToBookForm.valid" type="submit" class="btn btn-success">Add</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>




<!--  A little space, used when no app-error-message is shown - otherwise
      the container would shrink and grow when messages appear -->
<ng-template #space>
  <span class="m-1"></span>
</ng-template>


<!--   A loading icon which is shown until the add-user-progress is completed  -->
<ng-template #loading>
  <span>
    <img src="/assets/loading.svg">
  </span>
</ng-template>