.chart {
        position: sticky;
        top: 76.5px;
        width: 100%;
        opacity: 0.09;
        z-index: -1;
        padding: 1px;
}
.transactions{
    height: 100%;
}
.under-stats {
    margin-top:120px;
}
.myContainer {
    height:100%;
}

.flex1 {
    width: 40%;
    flex-grow: 1;
}

.flex2 {
    width: 50%;
    margin-left:10%;
    flex-grow: 1;
}

.pieAndDash {
    margin-top: 50px;
}