.chart {
        position: sticky;
        top: 76.5px;
        width: 100%;
        opacity: 0.1;
        z-index: -1;
        padding: 1px;
}
.transactions{
    height: 100%;
}
.under-stats {
    margin-top:120px;
}
.upper-container {
    height: 40vh;
    padding: 1px;
}
.myContainer {
    height:100%;
}