.chart {
        position: sticky;
        top: 76.5px;
        width: 100%;
        opacity: 0.07;
        z-index: -1;
}
.transactions{
    height: 100%;
}
.under-stats {
    height: 80%;
    margin-top:120px;
}
.upper-container {
    height: 20%;
}
.myContainer {
    height:100%;
}