.bs-callout {
    margin-left: 100px;
    padding: 5px;
    border: 1px solid white;
    border-left-width: 5px;
    border-radius: 3px;    
}
.bs-callout-info {
    border-left-color: lightgrey;
}
.iconStyle{
    color:white; margin-right: 10px;
}
.cardStyle{
    padding: 15px;
    margin: 15px;
}
.imgStyle{
    width: 40px;
    height: 40px;
}
.spanStyle{
    padding-left: 10px
}