<div class="card cardStyle">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="text-muted text-left mb-4">
          <div class="h4">{{bookName}}</div>
        </div>
      </div>
      <div class="col-sm-4">
        <app-modal [component]="membersComponent" [payload]="users">
          <div class="bs-callout bs-callout-info" id="members">
            <small class="text-muted">Members</small>
            <br>
            <strong>{{members}}</strong>
          </div>
        </app-modal>
      </div>
    </div>
  </div>
  <hr class="mt-0">
  <div class="form-group">
    <i class="fa fa-inbox bg-success p-3 font-2xl iconStyle"></i>
    <span class="text-muted text-uppercase font-weight-bold small">Income:</span>
    <span class="text-value-sm"> {{incomes}} €</span>
  </div>
  <div class="form-group">
    <i class="fa fa-inbox bg-danger p-3 font-2xl iconStyle"></i>
    <span class="text-muted text-uppercase font-weight-bold small">Outgoings:</span>
    <span class="text-value-sm"> {{outgoings}} €</span>
  </div>
</div>