<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light main-nav">
  <div class="container">
    <a class="navbar-brand title" routerLink="/home">{{title}}</a>
    <button class="navbar-toggler" (click)="navbarIsCollapsed = !navbarIsCollapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="navbarIsCollapsed" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item navItem-hover" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/users/sign-up" routerLinkActive="active">
            <i class="fa fa-user-plus icons"></i>
            <span class="spanSpace">Sign Up</span>
          </a>
        </li>
        <li class="nav-item navItem-hover" *ngIf="!isAuthenticated">
          <a class="nav-link">
            <app-modal [component]="signInComponent">
              <i class="fa fa-sign-in icons"></i>
              <span class="spanSpace">Login</span>
            </app-modal>
          </a>
        </li>
        <li class="nav-item navItem-hover" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/users/sign-out" routerLinkActive="active">
            <i class="fa fa-sign-out icons"></i>
            <span class="spanSpace">Sign out</span>
          </a>
        </li>
        <li class="nav-item navItem-hover" *ngIf="isAuthenticated">
          <a class="nav-link" routerLink="/users/myAccount" routerLinkActive="active">
            <i class="fa fa-user-circle icons"></i>
            <span class="spanSpace">MyAccount</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>