.page-content {
  flex-grow: 1;
  transition: margin-left 0.45s;
}

.myInnerContainer{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 76.5px;
}


.myContainer{
  height:100vh;
  position: relative;
}

.page-header{
  height:10%;
}