<div class="wrapper">
    <nav id="sidebar" [@toggleState]="shouldToggle">
        <ul class="list-unstyled">
            <li>
                <a>Dashboard</a>
            </li>
            <li class="active">
                <a>Books</a>
            </li>
            <li>
                <a>Transactions</a>
            </li>
        </ul>
        <hr>
    </nav>
    <div class="pull" (click)="pushContent()" [@toggleButton]="shouldToggle">
        <i class="fa fa-angle-right fa-2x arrow" aria-hidden="true"></i>
    </div>
</div>