.wrapper {
    position: relative;
}

.top {
    background-color: rgb(230, 230, 230);
}

.book {
    font-size: 50px;
    padding: 5px;
}

.bookInfo {
    display: inline-flex;
    position: absolute;
    right: 10px;
    height: 100%;
}

.imgPenguin {
    padding: 5px;
    height: 50%;
}

.value {
    color: green;
    margin: 10px;
}

#nav {
}

li {
    border: 1px solid black;
}

.navItem-hover:hover{
    .icons{
        color: rgb(100,100,100);
    }
    .spanSpace{
        color:rgb(100,100,100);
    }
}

.spanSpace {
    margin: 5px;
}