#wrapper {
    display: flex;
    flex-direction: row;
}

#sidebar {
    position: fixed;
    //height: 100%;
    max-height: 91%;
    width: 250px;
    left: 0px;
    background: rgb(255, 255, 255);
    border-right: 1px solid rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    overflow-y: scroll;
    z-index: 1020;
}

/*Scroll bar nav*/
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: auto; 
    -webkit-border-radius: auto;
    border-radius: auto;
    background:auto;    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230); 
    -webkit-border-radius:auto;
    border-radius:auto;
    background:auto; 
    -webkit-box-shadow:auto; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: auto; 
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

a:hover {
    color: black;
    background: rgb(230, 230, 230);
}

li.active {
    background: rgb(230, 230, 230);
    color: black;
}

div.pull {
    position: fixed;
    bottom: 0px;
    top: 76.5px;
    width: 40px;
    z-index: 90;
}

.pull:hover {
    background-color: rgba(225, 225, 225, 0.5);
    transition: 400ms;
    z-index: 90;
}

.arrow {
    position: relative;
    top: 50%;
    display: block;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 300ms;
}


