<div class="wrapper">
    <nav id="sidebar" [@toggleState]="shouldToggle">
        <div (click)="clickDashboard()" tabindex="-1" class="dashboard">
            <a [class.selected]="isDashboardSelected()" class="nav-link" routerLink="/main/dashboard" routerLinkActive="active">
                <i class="fas fa-chart-line"></i>
                <span class="spanSpace">Dashboard</span>
            </a>
        </div>
        <hr>
        <app-book-sidebar></app-book-sidebar>
    </nav>
    <div class="pull" (click)="pushContent()" [@toggleButtonNoRotate]="shouldToggle">
        <i class="fa fa-angle-right fa-2x arrow" aria-hidden="true" [@toggleArrow]="shouldToggle"></i>
    </div>
</div>
