<section>
  <div class="container">
    <div class="row well">
      <div class="col-lg-12 text-center">
        <p></p>
        <h1>Legal Notice</h1>
        <hr>
        <address>
          James UG
          <br/> Correnstraße 25
          <br /> 48149 Münster
        </address>
        <hr>
        <p> Represented by general managers: Lutz Steinkamp, Till Hoffmann, Tim Sawatzki, Vitus Forsmann</p>
        <hr>

        <p>Registry court: XXXXXXXX </p>
        <hr>
        <p>Sales tax identification number: XXXXXXXX</p>
        <hr>
        <p>
          <a href="http://ec.europa.eu/consumers/odr/">Online Dispute Resolution</a>
        </p>
      </div>
    </div>
  </div>
</section>