.container-flex {
    // display: flex;
    // flex-direction: row;
}

.button {
    position: absolute;
    top: 100px;
    left: 200px;
}

#content {
    margin-left: 160px;
    transition: margin-left 0.5s;
}
