.container-flex {
    display: flex;
    flex-direction: row;
}

.button {
    position: absolute;
    left: 200px;
}

#content {
    margin-left: 160px;
    transition: margin-left 0.5s;
    padding: 20px;
}

.text {
    text-align: center;
}